<section class="posts">
<div class="row">
<% for (idx in data) { %>
<%- partial('post', {feed: data[idx]}) %>
<% } %>
</div>
</section>

<%- partial('pagination', {pageCount: pageCount, currentPage: currentPage, isFirstPage: isFirstPage, isLastPage: isLastPage, pagination: pagination}) %>
